In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('modified_yakkertech_file.csv')

In [ ]:
pitcher_names = df['Pitcher'].unique().tolist()

['Roy Rolston',
 'Devan Tupper',
 'Nolan Bowles',
 'Joe Stellano',
 'Caleb Ochs',
 'Payton Knoll',
 'Marshall Ingold',
 'Ethan Robbins',
 'Cole Mcclusky',
 'Connor Hale']

In [13]:
pitcher_teams = (df.sort_values('Date', ascending=False)
                 .groupby('Pitcher')
                 .agg({'PitcherTeam': 'first'})
                 .reset_index())

In [14]:
pitcher_teams.columns = ['Pitcher', 'PitcherTeam']

In [15]:
pitcher_teams

           Pitcher            PitcherTeam
0       Caleb Ochs     Kcl merchants 2025
1    Cole Mcclusky      Kcl bluecaps 2025
2      Connor Hale       Kcl bobcats 2025
3     Devan Tupper  Kcl groundsloths 2025
4    Ethan Robbins      Kcl bluecaps 2025
5     Joe Stellano     Kcl merchants 2025
6  Marshall Ingold       Kcl bobcats 2025
7     Nolan Bowles  Kcl groundsloths 2025
8     Payton Knoll      Kcl bluecaps 2025
9      Roy Rolston     Kcl merchants 2025

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('Data/2025.csv')

In [4]:
df = df[df['BatterTeam'] =='Kcl bluecaps 2025']

In [5]:
df = df[(df['Outs'] == 2) & (df['PlayResult'].isin(['Single', 'Double', 'Triple', 'HomeRun']))]

In [6]:
df = df[['Batter','PlayResult']]

In [7]:
playresult_counts = df.groupby('Batter')['PlayResult'].count().reset_index(name='playresult_count')

In [ ]:
playresult_counts

               Batter  playresult_count
0      Braxton Waller                 4
1         Cal Darling                 1
2    Cameron Anderson                 1
3      Chase Peterson                 1
4       Ethan Hamrick                 3
5   Grayson Schnierle                 2
6        Jake Morrill                 1
7      Josh Eisfelder                 1
8       Michael Lucas                 2
9          Owen Laroe                 1
10      Riley Hendren                 2
11    Trey Blanchette                 7
12     Trey Schilling                 2

: