In [1]:
import pandas as pd

In [10]:
df = pd.read_csv('../Data/2025wSLG.csv')

C:\Users\isu_mvquirk_admin\AppData\Local\Temp\ipykernel_24728\3817714697.py:1: DtypeWarning: Columns (6,10) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('../Data/2025wSLG.csv')

In [11]:
df['PlayResult'].unique()

array(['Undefined', 'Out', 'Single', 'Double', 'Error', 'Sacrifice',
       'HomeRun', 'FieldersChoice', 'Triple', nan, 'Walk',
       'StrikeoutLooking', 'StrikeoutSwinging', 'CaughtStealing',
       'StolenBase'], dtype=object)

In [12]:
df = df[df['BatterTeam'] == 'ILL_RED']

In [13]:
ab_results = [
    'Out', 'StrikeoutLooking', 'Single', 'StrikeoutSwinging',
    'Double', 'HomeRun', 'Error'
]

# Calculate at-bats for each individual player in the Batter column
ab_counts = df[df['PlayResult'].isin(ab_results)].groupby('Batter').size().reset_index(name='at_bats')
ab_counts

               Batter  at_bats
0      Bakes, Brayden       71
1        Barry, Nolan        3
2   Contreras, Daniel       83
3        Gibson, Kyle      110
4       Hill, Cameron       10
5     Kennedy, Karson        9
6        Machej, Eric       22
7     Mastros, Graham       76
8       Morris, Judah       84
9        Outlaw, Josh       71
10    Pacella, Daniel      105
11     Robinson, Shai       81
12        Smith, Noah       27
13      Stulga, Lucas       77
14      Teschke, Luke        4

In [ ]:
# Calculate total xSLG for each batter
xSLG_sum = df[df['PlayResult'].isin(ab_results)].groupby('Batter')['xSLG'].sum().reset_index(name='total_xSLG')

# Merge with ab_counts to get at_bats and total_xSLG together
batter_stats = pd.merge(ab_counts, xSLG_sum, on='Batter', how='left')

# Calculate xSLG per at-bat for each batter
batter_stats['xSLG'] = batter_stats['total_xSLG'] / batter_stats['at_bats']

# Keep only Batter and xSLG_per_at_bat columns
batter_xSLG = batter_stats[['Batter', 'xSLG']]
batter_xSLG

KeyError: 'Column not found: xBA'